/*
RESET
*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*
GENERAL
*/
body {
    font-family: 'Open Sans', sans-serif;
}
header {
    position: sticky;
    top: 0;
    background-color: white;
    z-index: 10;
}
.container {
    max-width: 1000px;
    margin: 0 auto;
}
.mini-container {
    max-width: 800px;
    margin: 0 auto;
}
.my-row-header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
.my-row{
    display: flex;
    flex-wrap: wrap;
}
.my-row-2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.my-row-right{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
}

ul {
    list-style-type: none;
}
li * {
    text-decoration: none;
    color: black;
    font-size: 0.8em;
    padding: 20px;
}
.bg-1-section h1 {
    font-size: 4em;
    padding-top: 50px;
}
.my-col-right  {
    width: 30%;
    position: relative;
}
.my-col-right-3 {
    width: 40%;
}

.my-col-right > p {
    font-size: 0.8em;
}
.my-col-right > i {
    position: absolute;
    bottom: 10px;
}
.my-col-right-3 {
    width: 40%;
    padding: 50px;
}
.my-col-right-3 > h2 {
    font-size: 1.1em;
}
.my-col-right-3 > p {
    font-size: 0.8em;
    margin-top: 10px;
    margin-bottom: 20px;
}

.my-col-left {
    width: 70%;
    margin-bottom: -70px;
}
.my-col-left-2 {
    width: 70%;
}
.my-col-left-3 {
    width: 60%;
}
.my-col-left-2 > h4 {
   margin-top: 15px;
   margin-bottom: 30px;
}
.my-col-left > img {
    max-width: 100%;
}
.my-col-left-3 > img {
    max-width: 100%;
}
.mini-container > h2 {
    margin-top: 120px;
    margin-bottom: 50px;
    font-size: 2em;
}
.mini-container > .margin {
    margin-left: 50px;
    margin-bottom: 50px;
}
.my-col-1-3 {
    border: 2px solid #ddddde;
    width: calc((100% / 3) - 20px);
}
.my-col-1-6 {
    width: calc((100% / 3) - 40px);
}
.my-col-big {
    border: 2px solid #ddddde;
    width: 100%;
    margin-top: 30px;
    margin-bottom: 100px;
}
.my-col-color {
    width: calc(100% / 3);
    height: calc(100vw / 3);
    display: flex;
    flex-wrap: wrap;
    margin-top: 100px;
}
.my-col-color-big {
    width: calc(100% / 3);
    height: calc(100vw / 3);
    margin-top: 100px;
}
.my-col-color-mini {
    height: 50%;
    width: 50%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.my-col-1-5 {
    width: calc((100% / 5) - 100px);
    margin: 50px;
}
.col-marg{
    margin: 0 30px;
}
.col-marg-1-6 {
    margin: 20px;
}
.margin-my-col-6 {
    margin: 0 -20px;
}
.margin-my-col-1-5 {
    margin: 0 -50px;
}
.my-col-1-5 > h3 {
    color: white;
    padding-bottom: 15px;
}
.my-col-1-5 a{
    color: white;
    font-size: 0.7em;
    padding: 10px 0px;

}
.header-my-col {
    width: 100%;
    border-bottom: 2px solid #ddddde;
    padding: 5px;
    text-align: center;
    font-size: 0.8em;
}
.header-my-img > img{
    width: 100%;
}
.body-my-col {
    width: 100%;
    padding: 30px 20px;
    font-size: 0.8em;
}
.body-my-img {
    width: 100%;
    font-size: 0.8em;
}
.body-my-img > h2 {
    margin-bottom: 20px;
}
.body-my-col > h2 {
    margin-bottom: 10px;
}
.my-col-left > h2 {
    margin-bottom: 10px;
}
.body-my-col > h4 {
    margin-bottom: 10px;
}
.body-my-col > p:nth-child(2) {
    font-weight: bold;
    margin-bottom: 5px;
}
.body-my-col > p:nth-child(3) {
    color: gray;
    margin-bottom: 30px;
}
.body-my-col > p {
    margin: 15px 0;
}
p > a {
    color: #0061ff;
}
.mini-container a {
    color: #0061ff;
    font-size: 0.8em;
}
.mini-border {
    background-color: transparent;
    border-bottom: 2px solid #ddddde;
    width: 50px;
    height: 20px;
    margin-bottom: 40px;
}
.mini-border-2 {
    background-color: transparent;
    border-bottom: 2px solid #ddddde;
    width: 100px;
    height: 40px;
    margin-bottom: 40px;
}
.mini-border-3 {
    background-color: transparent;
    border-bottom: 2px solid #ddddde;
    width: 100px;
    height: 40px;
    padding-bottom: 40px;
}
.first {
    background-color: #a2d39b;
    border: 10px solid #d1e9cd;
}
.second {
    background-color: #61082b;
}
.third {
    background-color: #0093ce;
}
.fourth {
    background-color: #ff1c1c;
}
.fiveth {
    background-color: #d5001f;
}
.sixth {
    background-color: #b4d0e7;
}
.seventh {
    background-color: #0d2481;
}
.eighth {
    background-color: #ffd830;
}
.center {
    background-color: #f5f5f5;
    padding: 30px;
}
.my-col-color-mini > img {
    width: 50%;
}
.my-col-color-big > img {
    width: 50%;
}
.my-col-color-big > p {
    font-size: 0.8em;
    margin-bottom: 40px;
}
.my-col-color img {
    filter: brightness(0) invert(1);
}
.padding-container{
    padding: 100px 0px;
}
.my-title-h2 {
    width: 50%;
    color: #61082b;
    font-size: 1.2em;
}
.my-title-button {
    width: 50%;
    display: flex;
    justify-content: flex-end;
}
.box-answers {
    width: 100%;
    border-top: 1px solid #ddddde;
    border-bottom: 1px solid #ddddde;
    padding: 30px 0;
    font-size: 0.8em;
    font-weight: bold;
}
/*
BUTTONS
*/
.my-buttons{
    border: none;
    padding: 5px 15px;
    margin: 0;   
}
.my-buttons-big{
    border: none;
    padding: 10px 25px;
    margin: 30px 0;
}
.my-buttons-big-2{
    border: none;
    padding: 10px 70px;
    margin: 30px 0;
}
.my-buttons-big-3{
    border: none;
    padding: 10px 25px;
    position: absolute;
}
.my-buttons-border{
    border: 1px solid black;
    padding: 7px 15px;
    background-color: transparent;
}
.trasparent {
    background-color: transparent;
}
.blue {
    background-color: #0061ff;
    color: white;
}
.position {
    position: absolute;
    bottom: 58px;
}
/*
HEADER
*/
.header-flex {
    padding: 20px;
    display: flex;
}
header .header-flex > .header-left , header .header-flex > .header-right {
    width: 50%;
}
/*
MAIN
*/
.bg-1-section-main {
    background-color: #b4d0e7;
}
.bg-1-section-main h1 {
    font-size: 4em;
    padding: 50px 0px;
}
/*
FOOTER
*/
.footer-top {
    background-color: black;
    margin-top: 100px;
}
.footer-bottom {
    background-color: black;
}
.footer-bottom p {
    padding: 40px 0;
    color: #ddddde;
    font-size: 0.8em;
}
